{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
		<div class="col-md-10">
			<h1>Expositor {{ showcase.name }}</h1>
		</div>
        
        {% if is_granted('ROLE_ADMIN') %}    
		<div class="col-md-1">
			<div class="col-md-offset-6 col-md-1">
			    {{ form_start(delete_form) }}
					<button type="submit" class="btn btn-danger">Borrar</button>
				{{ form_end(delete_form) }}
			</div>
		</div>
        {% endif %}   
         
	</div>
    
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ showcase.id }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ showcase.token }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ showcase.name }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ showcase.userid }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ showcase.image }}</td>
            </tr>
            <tr>
                <th>Catálogo</th>
                <td>{{ showcase.catalogue }}</td>
            </tr>
            
        </tbody>
    </table>
    
	<a class="btn btn-default" href="{{ path('show_showcase_index') }}" role="button">Volver</a>
    
    {% if is_granted('ROLE_ADMIN') %}  
	<a class="btn btn-primary" href="{{ path('show_showcase_edit', { 'id': showcase.id }) }}" role="button">Editar</a>
    {% endif %} 
    
    <hr>
    {# Listado de las combinaciones de este expositor #}
    <h2>Combinaciones</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pulsador</th>
                <th>Material</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for combination in combinations %}
            <tr>
                <td>{{ combination.id }}</td>
                <td>{{ combination.keychar }}</td>
                <td>{{ combination.materialid }}</td> 
                <td>					
					<a data-toggle="tooltip" title="Editar" href="{{ path('show_showcase_combination_edit', { 'id': combination.id }) }}" aria-label="Center Align">
						<i class="fas fa-edit fa-2x"></i>
					</a>
                    <a data-toggle="tooltip" title="Borrar" href="{{ path('show_showcase_combination_delete', { 'id': combination.id }) }}" aria-label="Center Align">
						<i class="fas fa-trash-alt fa-2x"></i>
					</a>    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    {% if is_granted('ROLE_ADMIN') %}
    {% endif %}
    
    <a class="color-primary" data-toggle="tooltip" title="Nueva combinación" href="{{ path('show_showcase_combination_new', { 'id': showcase.id }) }}"><i class="fas fa-plus-circle fa-3x"></i></a>
	
{% endblock %}
