{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorías</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('show_category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>
					<a data-toggle="tooltip" title="Ver" href="{{ path('show_category_show', { 'id': category.id }) }}" aria-label="Center Align">
						<i class="far fa-eye fa-2x"></i>
					</a>
					<a data-toggle="tooltip" title="Editar" href="{{ path('show_category_edit', { 'id': category.id }) }}" aria-label="Center Align">
						<i class="fas fa-edit fa-2x"></i>
					</a>
                    <a data-toggle="tooltip" title="Borrar" href="{{ path('show_category_delete', { 'id': category.id }) }}" aria-label="Center Align">
						<i class="fas fa-trash-alt fa-2x"></i>
					</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
		
		<a class="color-primary" data-toggle="tooltip" title="Nueva categoría" href="{{ path('show_category_new') }}"><i class="fas fa-plus-circle fa-3x"></i></a>

{% endblock %}
