{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="text-center">Nuevo render</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
        <hr>
        <div class="form-group">
			<label class="col-md-4 control-label">Imagen</label>
			<div class="col-md-5">
			  {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
        <div class="form-group">
			<label class="col-md-4 control-label">Material</label>
			<div class="col-md-5">
			  {{ form_widget(form.materialid, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
        <hr>
        <div class="form-group">
			<div class="col-md-offset-5 col-md-1">
			  <button type="submit" class="btn btn-primary">Crear</button>
			</div>
			<div class="col-md-1">
			  <a class="btn btn-default" href="{{ path('show_model_zone_show', { 'id': id }) }}" role="button">Volver</a>
			</div>
		</div>
    {{ form_end(form) }}

{% endblock %}