{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
		<div class="col-md-10">
			<h1>Render</h1>
		</div>
		<div class="col-md-1">
			<div class="col-md-offset-6 col-md-1">
			    {{ form_start(delete_form) }}
					<button type="submit" class="btn btn-danger">Delete</button>
				{{ form_end(delete_form) }}
			</div>
		</div>
	</div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ render.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ render.modelid }}</td>
            </tr>
            <tr>
                <th>Zone REF</th>
                <td>{{ render.activeZoneid }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ render.map }}</td>
            </tr>
        </tbody>
    </table>
	<a class="btn btn-default" href="{{ path('show_model_zone_show'), { 'id': render.activeZoneid }) }}" role="button">Back to the list</a>

	<a class="btn btn-primary" href="{{ path('show_model_zone_render_edit', { 'id': render.id }) }}" role="button">Edit</a>
    	
{% endblock %}
