{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
		<div class="col-md-10">
			<h1>Render</h1>
		</div>
		<div class="col-md-1">
			<div class="col-md-offset-6 col-md-1">
			    {{ form_start(delete_form) }}
					<button type="submit" class="btn btn-danger">Borrar</button>
				{{ form_end(delete_form) }}
			</div>
		</div>
	</div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ render.id }}</td>
            </tr>            
            <tr>
                <th>REF Zona activa</th>
                <td>{{ render.activeZoneid }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ render.materialid }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img alt="{{ render.image }}" src="{{ asset('uploads/' ~ render.activeZoneid.modelid.userid ~ '/' ~ render.image) }}" width="200" border="2" /></td>
            </tr>
        </tbody>        
    </table>
    <hr>
	<a class="btn btn-default" href="{{ path('show_model_zone_show', { 'id': render.activeZoneid.id }) }}" role="button">Volver</a>

	<a class="btn btn-primary" href="{{ path('show_model_zone_render_edit', { 'id': render.id }) }}" role="button">Editar</a>
    	
{% endblock %}
