<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DOKUOS - Symfony{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/mdb.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    </head>
    <body>
        
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">

            <div class="container">

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dokNavBar" aria-controls="dokNavBar"
                aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse justify-content-center font-weight-bold" id="dokNavBar">

                    <!-- Links izquierda-->
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item"><a class="nav-link" href="{{path('show_user_index')}}">Usuarios</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('show_category_index')}}">Categorias</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('show_video_index')}}">Videos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('show_material_index')}}">Materiales</a></li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li class="nav-item"><a class="nav-link" href="{{path('show_video_index')}}">Videos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('show_material_index')}}">Materiales</a></li>
                        {% endif %}                     
                    </ul>
                    <!-- Links -->

                    <!-- Navbar brand -->
                    <a class="navbar-brand px-lg-4 mr-0" href="{{path('homepage')}}">
                     <img src="{{ asset('img/DOKUOS-logo.png') }}" height="30" alt="">
                    </a>

                    <!-- Links derecha-->
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}                            
                            <li class="nav-item"><a class="nav-link" href="{{path('show_model_index')}}">Ambientes</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('show_showcase_index')}}">Expositores</a></li>
                        {% endif %}  
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SHOW')%}
                            <li class="nav-item"><a class="nav-link" href="{{path('logout')}}">Logout</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path('show_user_show', { 'id': app.user.id }) }}">{{ app.user }}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{path('login')}}">Login</a></li>
                        {% endif %}
                    </ul>
                    <!-- Links -->

                 </div>
             </div>

        </nav>
        <!--/.Navbar-->    

            {% block sub_navbar %}{% endblock %}
		<div class="container">
			{% block body %}{% endblock %}
		</div>
        
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/mdb.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            $("body").keypress(function(event) { //keypress devuelve mayusculas y minusculas e ignora shift y control
                var value = String.fromCharCode(event.which);
                event.stopPropagation();                
                material = arrayCombinations[value];                    
                alert(material);
            });
        </script>
    </body>
</html>
