{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios</h1>

	<table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Password</th>
                <th>Rol</th>
                <th>Email</th>
                <th>Logo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('show_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.password|slice(0,20) }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.email }}</td>
                <td><img class="img-thumbnail" alt="{{ user.username ~ ' logo' }}" src="{{ asset('uploads/' ~ user.username ~ '/' ~ user.image) }}" width="100" border="2" /></td>
                <td>
					<a data-toggle="tooltip" title="Ver" href="{{ path('show_user_show', { 'id': user.id }) }}" aria-label="Center Align">
						<i class="far fa-eye fa-2x"></i>
					</a>
					<a data-toggle="tooltip" title="Editar" href="{{ path('show_user_edit', { 'id': user.id }) }}" aria-label="Center Align">
						<i class="fas fa-edit fa-2x"></i>
					</a>
                    <a data-toggle="tooltip" title="Borrar" href="{{ path('show_user_delete', { 'id': user.id }) }}" aria-label="Center Align">
						<i class="fas fa-trash-alt fa-2x"></i>
					</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	
    <a class="color-primary" data-toggle="tooltip" title="Nuevo usuario" href="{{ path('show_user_new') }}"><i class="fas fa-plus-circle fa-3x"></i></a>

{% endblock %}
