{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Nuevo usuario</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
        <hr>
        <div class="form-group">
			<label class="col-md-4 control-label">Nombre de usuario</label>
			<div class="col-md-5">
			  {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Password</label>
			<div class="col-md-5">				
				{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Rol (ROLE_USER, ROLE_ADMIN, ROLE_SHOW)</label>
			<div class="col-md-5">				
				{{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Email</label>
			<div class="col-md-5">				
				{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Logo</label>
			<div class="col-md-5">				
				{{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
        <hr>
		<div class="form-group">
			<div class="col-md-offset-5 col-md-1">
			  <button type="submit" class="btn btn-primary">Crear</button>
			</div>
			<div class="col-md-3">
			  <a class="btn btn-default" href="{{ path('show_user_index') }}" role="button">Volver</a>
			</div>
		</div>
        
    {{ form_end(form) }}

{% endblock %}
