{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
		<div class="col-md-10">
			<h1>Ambiente {{ model.name }}</h1>
		</div>
		<div class="col-md-1">
			<div class="col-md-offset-6 col-md-1">
			    {{ form_start(delete_form) }}
					<button type="submit" class="btn btn-danger">Borrar</button>
				{{ form_end(delete_form) }}
			</div>
		</div>
	</div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ model.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ model.ref }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ model.name }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ model.userid }}</td>
            </tr>
            <tr>
                <th>Categoría</th>
                <td>{{ model.categoryid }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img alt="{{ model.name }}" src="{{ asset('uploads/' ~ model.userid ~ '/' ~ model.image) }}" width="200" border="2" /></td>
            </tr>
        </tbody>
    </table>
	<a class="btn btn-default" href="{{ path('show_model_index') }}" role="button">Volver</a>

	<a class="btn btn-primary" href="{{ path('show_model_edit', { 'id': model.id }) }}" role="button">Editar</a>
    <hr>
    {# Listado de las zonas de este modelo #}
    <h2>Zonas activas</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>REF</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for zone in zones %}
            <tr>
                <td><a href="{{ path('show_model_zone_show', { 'id': zone.id }) }}">{{ zone.id }}</a></td>
                <td>{{ zone.zoneref }}</td>
                <td>
                    <a data-toggle="tooltip" title="Ver" href="{{ path('show_model_zone_show', { 'id': zone.id }) }}" aria-label="Center Align">
						<i class="far fa-eye fa-2x"></i>
					</a>
					<a data-toggle="tooltip" title="Editar" href="{{ path('show_model_zone_edit', { 'id': zone.id }) }}" aria-label="Center Align">
						<i class="fas fa-edit fa-2x"></i>
					</a>
                    {% if is_granted('ROLE_ADMIN') %}    
                    <a data-toggle="tooltip" title="Borrar" href="{{ path('show_model_zone_delete', { 'id': zone.id }) }}" aria-label="Center Align">
						<i class="fas fa-trash-alt fa-2x"></i>
					</a>
                    {% endif %}    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    {% if is_granted('ROLE_ADMIN') %}
    <a class="color-primary" data-toggle="tooltip" title="Nueva zona activa" href="{{ path('show_model_zone_new', { 'id': model.id }) }}" role="button"><i class="fas fa-plus-circle fa-3x"></i></a>    
    {% endif %}    
  	
{% endblock %}
