{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
		<div class="col-md-10">
			<h1>Zona {{ zone.modelid }} {{ zone.zoneref }}</h1>
		</div>
		<div class="col-md-1">
			<div class="col-md-offset-6 col-md-1">
			    {{ form_start(delete_form) }}
					<button type="submit" class="btn btn-danger">Borrar</button>
				{{ form_end(delete_form) }}
			</div>
		</div>
	</div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zone.id }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ zone.modelid }}</td>
            </tr>
            <tr>
                <th>REF</th>
                <td>{{ zone.zoneref }}</td>
            </tr>
            <tr>
                <th>Map</th>
                <td>{{ zone.map }}</td>
            </tr>
        </tbody>
    </table>
	<a class="btn btn-default" href="{{ path('show_model_index') }}" role="button">Volver</a>

	<a class="btn btn-primary" href="{{ path('show_model_zone_edit', { 'id': zone.id }) }}" role="button">Editar</a>
    <hr>
    {# Listado de los renders de esta zona #}
    <h2>Renders</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagen</th>
                <th>Material</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for render in renders %}
            <tr>
                <td>{{ render.id }}</td>
                <!--
                <td>{{ render.image }}</td>
                -->
                <td><img alt="{{ render.image }}" src="{{ asset('uploads/' ~ render.activeZoneid.modelid.userid ~ '/' ~ render.image) }}" width="100" border="2" /></td>
                <td>{{ render.materialid }}</td>
                <td>
					<a data-toggle="tooltip" title="Ver" href="{{ path('show_model_zone_render_show', { 'id': render.id }) }}" aria-label="Center Align">
						<i class="far fa-eye fa-2x"></i>
					</a>
					<a data-toggle="tooltip" title="Editar" href="{{ path('show_model_zone_render_edit', { 'id': render.id }) }}" aria-label="Center Align">
						<i class="fas fa-edit fa-2x"></i>
					</a>
                    <a data-toggle="tooltip" title="Borrar" href="{{ path('show_model_zone_render_delete', { 'id': render.id }) }}" aria-label="Center Align">
						<i class="fas fa-trash-alt fa-2x"></i>
					</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    {% if is_granted('ROLE_USER') %}         
        <a class="color-primary" data-toggle="tooltip" title="Nuevo render" href="{{ path('show_model_zone_render_new', { 'id': zone.id }) }}"><i class="fas fa-plus-circle fa-3x"></i></a>        
    {% endif %}  
	
{% endblock %}
