{% extends 'base.show.html.twig' %}

{% block body %}
    <header id="showcase" data-user-profile="{{ array|json_encode() }}">
        <img id="logo" src="{{ asset('uploads/' ~ show.userid ~ '/' ~ show.userid.image) }}" class="img-fluid" alt="Logo">
        
    </header>
    
    <main>
        {% for category in categories %}
            <div class="view  zoom option" id="opt{{ category.categoryid.id }}" data-toggle="modal" data-target="#{{ category.categoryid.id }}">
                <img src="{{ asset('uploads/SET-CAT/' ~ category.categoryid.image) }}" class="img-fluid img-full" alt="zoom">
                <!--  class="mx-auto d-block" 
                <span class="texto-vertical">{{ category.categoryid }}</span>
                -->
                <div class="mask flex-row waves-effect waves-light">
                    <span class="texto-vertical">{{ category.categoryid }}</span>
                </div>
            </div>
        {% endfor %}
    </main>
    <footer>
        <p class="text-center">SELECCIONE UNA CATEGORÍA Y UN AMBIENTE</p>
    </footer>
    {% for category in categories %}
    <!-- Modal {{ category.categoryid }}-->
    <div class="modal fade bd-example-modal-lg" id="{{ category.categoryid.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <!--Carousel Wrapper-->
            <div id="carousel-{{ category.categoryid.id }}" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    {% set slide = 0 %}
                    {% for model in models %}
                        {% if category.categoryid.id == model.categoryid.id %}
                            {% if slide == 0%}
                                <li data-target="#carousel-{{ category.categoryid.id }}" data-slide-to="{{ slide }}" class="active"></li>
                            {% else %}
                                <li data-target="#carousel-{{ category.categoryid.id }}" data-slide-to="{{ slide }}"></li>
                            {% endif %}
                        {% endif %}
                        {% set slide = slide + 1 %}
                    {% endfor %} 
                </ol>
                <!--/.Indicators-->
                
                <!--Slides-->
                <div class="carousel-inner" role="listbox">   
                    {% set slide = 1 %}                                           
                    <!--slide-->
                        {% for model in models %} 
                            {% if category.categoryid.id == model.categoryid.id %}
                                {% if slide == 1%}
                                    <div class="carousel-item active">
                                {% else %}
                                    <div class="carousel-item">
                                {% endif %}
                                {% set slide = 2 %}                    
                                    <a href="{{ path('showcase_display_model', { 'token': show.token, 'id': model.id }) }}">
                                        <img class="d-block w-100" src="{{ asset('uploads/' ~ model.userid ~ '/' ~ model.image) }}" alt="{{ model.name }}">
                                    </a>
                                </div>
                            {% endif %}   
                        {% endfor %}      
                    <!--/slide-->
                                     
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-{{ category.categoryid.id }}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-{{ category.categoryid.id }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
      </div>
    </div>
    <!-- /Modal -->
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var showcase = document.querySelector('#showcase');
            var nameShowcase = showcase.dataset.userProfile;
            arrayCombinations = JSON.parse(nameShowcase);
            Object.keys(arrayCombinations).forEach(key => console.log(key, arrayCombinations[key]));
            Object.keys(arrayCombinations).forEach(key => localStorage.setItem(key, arrayCombinations[key]));
        });
    </script>
{% endblock %}