{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Materiales</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td><a href="{{ path('show_material_show', { 'id': material.id }) }}">{{ material.id }}</a></td>
                <td>{{ material.ref }}</td>
                <td>{{ material.name }}</td>
                <td>{{ material.userid }}</td> 
                <td>{{ material.image }}</td>
                <td>
					<a data-toggle="tooltip" title="Ver" href="{{ path('show_material_show', { 'id': material.id }) }}" aria-label="Center Align">
						<i class="far fa-eye fa-2x"></i>
					</a>
					<a data-toggle="tooltip" title="Editar" href="{{ path('show_material_edit', { 'id': material.id }) }}" aria-label="Center Align">
						<i class="fas fa-edit fa-2x"></i>
					</a>
                    <a data-toggle="tooltip" title="Borrar" href="{{ path('show_material_delete', { 'id': material.id }) }}" aria-label="Center Align">
						<i class="fas fa-trash-alt fa-2x"></i>
					</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
		
        <a class="color-primary" data-toggle="tooltip" title="Nuevo material" href="{{ path('show_material_new') }}"><i class="fas fa-plus-circle fa-3x"></i></a>

{% endblock %}
