{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
		<div class="col-md-10">
			<h1>Video</h1>
		</div>
		<div class="col-md-1">
			<div class="col-md-offset-6 col-md-1">
			    {{ form_start(delete_form) }}
					<button type="submit" class="btn btn-danger">Delete</button>
				{{ form_end(delete_form) }}
			</div>
		</div>
	</div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ video.video }}</td>
            </tr>
        </tbody>
    </table>
	<a class="btn btn-default" href="{{ path('show_video_index') }}" role="button">Back to the list</a>

	<a class="btn btn-primary" href="{{ path('show_video_edit', { 'id': video.id }) }}" role="button">Edit</a>
	
{% endblock %}
